# KiCAD files based on https://github.com/github/gitignore/blob/main/KiCad.gitignore
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses


# Python byte-compiled/optimized from https://github.com/github/gitignore/blob/main/Python.gitignore
__pycache__/
*.py[cod]
*$py.class

*.pyc
=======
# ignore all .DS_Store files
*.DS_Store
#Sublime autosave files
*.autosave
#Mac OS crap
*.icloud

# VSCode crap
.vscode/